#!/bin/bash

set -e
set -u
set -o pipefail
set -x

find_nic --wait

# HACK: Give a little bit of time to QEmu to bring up the interface
sleep 1

cd /sys/class/net/
for nic in *; do
    ip link set $nic up
done

PRIVATE=`find_nic -r private`
PUBLIC=`find_nic -r public`

# Only rename the private interface, since the public one
ip link set $PRIVATE down
ip link set $PRIVATE name private
ip addr add {{private_interface_ip}}/24 dev private
ip link set private up

# Set up wireguard keys if missing
[ -d "{{ wireguard_secrets_dir }}" ] || mkdir -p "{{ wireguard_secrets_dir }}"
[ -f "{{ wg0_private_key }}" -a -f "{{ wg0_public_key }}" ] || {
    wg genkey | (umask 0077 && tee "{{ wg0_private_key }}") | wg pubkey > "{{ wg0_public_key }}"
}

# Set up wireguard, and allow clients to access both the private and public networks
wg-quick up wg0
echo 1 > /proc/sys/net/ipv4/ip_forward
