#!/bin/bash

set -e
set -u
set -o pipefail
set -x

[ -f "{{ config_env_file }}" ] && . "{{ config_env_file }}"

priv_addr="${PRIVATE_NETWORK_ADDR:-{{ private_interface_ip }}}"

find_nic --wait

# HACK: Give a little bit of time to QEmu to bring up the interface
sleep 1

cd /sys/class/net/
for nic in *; do
    ip link set $nic up
done

PRIVATE=`find_nic -r private`
PUBLIC=`find_nic -r public`

# Only rename the private interface, since the public one
ip link set $PRIVATE down
ip link set $PRIVATE name private
ip addr add "${priv_addr}"/24 dev private
ip link set private up

echo 1 > /proc/sys/net/ipv4/ip_forward

# name sure ci-gateway hostname can resolve on the gateway
printf "127.0.0.1\tci-gateway" >> /etc/hosts

# configure dnsmasq to use the right IP when doing lookups for DUTs
printf "address=/ci-gateway/%s" "$priv_addr" > /etc/dnsmasq.d/00-private-address.conf
