[Interface]
Address = 10.42.100.1/24
ListenPort = {{ wg0_port }}
PostUp = wg set %i private-key "{{ wg0_private_key }}"

# Martin Roukala / mupuf: martin.roukala@mupuf.org
[Peer]
PublicKey = MUPufwJX8h4O5ajg3DMwq+QxDb3rc1gVn+gfjjvP6hk=
AllowedIPs = 10.42.100.2/32

# Charlie Turner / tchar: cturner@igalia.com
[Peer]
PublicKey = TCharPHzwzZmvpT49XyrhxKbt8ka+nn7O9Q0C6uRl1c=
AllowedIPs =  10.42.100.3/32
