[Unit]
Description=Wireguard wg0 Key Generation
ConditionPathExists=|!{{ wg0_private_key }}
ConditionPathExists=|!{{ wg0_public_key }}
Before=wg-quick.service

[Service]
ExecStart=/usr/local/bin/wg0_key_gen.sh
Type=oneshot
RemainAfterExit=yes
