[Unit]
Description=CI Gateway service
Requires=podman.socket
After=podman.service
Requires=network-online.target
After=network-online.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5s
ExecStartPre=/usr/bin/podman kill -a
ExecStartPre=/usr/bin/podman rm -a

WorkingDirectory=/app
ExecStart=/app/entrypoint

# HACK: docker-compose logs does not quit on SIGTERM...
# Can't wait to get rid of docker-compose!
ExecStop=/usr/bin/killall docker-compose -s9

[Install]
WantedBy=multi-user.target
