[Unit]
Description=minio configuration helper
After=minio.service
Requires=minio.service
PartOf=infra.service

[Service]
Type=oneshot
# This is set so a successful run will have the
# 'active' status in systemd:
RemainAfterExit=yes
EnvironmentFile={{ base_config_env_file }}
EnvironmentFile={{ config_env_file }}
ExecStart=/usr/local/bin/minio_configure
# If minio is not up yet, this retries:
RestartSec=5
Restart=on-failure

[Install]
WantedBy=infra.target
