[Unit]
Description=minio password creation service
PartOf=infra.service

[Service]
Type=oneshot
ExecStartPre=
ExecStartPre=-mkdir -p /mnt/permanent/config.d
# This is set so a successful run will have the
# 'active' status in systemd:
RemainAfterExit=yes
ExecStart=/usr/local/bin/minio_genpw

[Install]
WantedBy=infra.service
