set +o nounset
if [ -z "$SSH_CONNECTION" ]; then
   set -o nounset
   [ -z "${TMUX+z}" ] && tmuxp load dashboard

   # If you exit here, the service will auto-restart thanks to the login script trick.
   # exit 0
   # For now, fall thru and open the shell.
   exec bash
fi

[ -r /etc/bash.bashrc ] && . /etc/bash.bashrc


